.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  max-width: 1360px;
  max-height: 40px;
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-size: 20px;
  line-height: 1.24;
}

.header__logo {
  margin-right: 24px;
  height: 40px;
  width: 89px;
}
.header__date-location {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 5px;
}

.header__add-clothes-button {
  margin: 0 20px 0 auto;
  border-style: none;
  padding: 0;
  background: transparent;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__user-name {
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #000;
}
