.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  max-width: 1360px;
  max-height: 40px;
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-size: 20px;
  line-height: 1.24;
}

.header__logo {
  margin-right: 24px;
  height: 40px;
  width: 89px;
}
.header__date-location {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 5px;
}

.header__add-clothes-button {
  margin: 0 20px;
  border-style: none;
  padding: 0;
  background: transparent;
}

.header__profile-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__profile-name {
  margin: 0;
}

.header__profile-link {
  text-decoration: none;
  color: #000;
}

.header__sign-up {
  margin: 0 20px;
  border-style: none;
  padding: 0;
  background: transparent;
}

.header__log-in {
  margin: 0;
  border-style: none;
  padding: 0;
  background: transparent;
}

.header__profile-avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.header__profile-avatar_placeholder {
  align-items: center;
  background-color: #000;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}

.header__toggle-switch {
  margin-right: 24px;
}
