.modal__content.modal__content_type_image {
  padding: 0;
  border-radius: 16px;
}

.modal__image {
  display: block;
  border-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  margin: 0;
  height: auto;
}

.modal__close-icon {
  fill: #fff;
}

.modal__footer {
  display: flex;
  flex-direction: column;
  max-width: 498px;
  margin-left: 32px;
}

.modal__caption {
  font-family: "CabinetGrotesk-Medium", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 20px 0 0 0;
  padding-bottom: 12px;
}

.modal__weather {
  font-family: "CabinetGrotesk-Medium", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 32px 0;
}

.modal__delete-button {
  position: absolute;
  width: 101px;
  height: 24px;
  font-family: "CabinetGrotesk-Medium", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  background-color: #fff;
  padding: 0;
  border: none;
  color: red;
  right: 32px;
  bottom: 68px;
  /* right 32, top 20 from pic, 68 from bottom 365 from left */
}
