.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "CabinetGrotesk-Medium", sans-serif;
  bottom: 24px;
  left: 0;
  right: 0;
  padding-bottom: 24px;
  padding-top: 85px;
}
